.contenedorComponente {
    margin:40px;
    display: flex;
    justify-content: center;

}

.contenedorForma {
    width: 60%;
    max-width: 700px;
    padding-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding-left: 25px;
    padding-right: 25px;
}

h2 {
    background-color: #bbe3f3;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.buttonContainer{
    display:flex;
    justify-content: center; 
}

input[value="Agregar actividad"] {
    text-align: center;
    margin:auto;
    height: 40px;
    font-size: 20px;
}

span {
    font-weight: bold;
}




/*
background-color: #bbe3f3;
background-color: #F6C5CC;


*/