
.contenedorTabla{
    border: green;
    margin: 50px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 50px;
    padding-top: 5px;
}

table {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    border: 2px solid black;
    font-size: 20px;
}

table th {
    background-color: #034f84;
    color: white;
    font-size: 20px;
    height: 50px;
    
}

table th , table td{
    text-align: center;
    border: 1px solid grey;
}

table tr{
    font-size: 18px;
    height: 40px;
}


table tr:nth-child(even){
    background-color: #BEF2F5
}

table tr:hover{
    background-color: #e3eaa7
}